services:
  account.notifications.webapi:
    image: ${DOCKER_REGISTRY-}accountuserswebapi
    networks:
      - general-network
    build:
      context: .
      dockerfile: src/Account.Notifications.WebApi/Dockerfile


  account.identity.grpc:
    image: ${DOCKER_REGISTRY-}accountidentitygrpc
    networks:
      - general-network
    build:
      context: .
      dockerfile: src/Account.Identity.GrpcService/Dockerfile


  elasticsearch:
    image: elasticsearch:9.1.3
    container_name: elasticsearch
    networks:
      - general-network
    restart: unless-stopped


  logstash:
    image: logstash:9.1.3
    container_name: logstash
    networks:
      - general-network
    depends_on:
      - elasticsearch
    restart: unless-stopped


  kibana:
    image: kibana:9.1.3
    container_name: kibana
    networks:
      - general-network
    depends_on:
      - elasticsearch
    restart: unless-stopped  


  filebeat:
    build: ./Hosting/Local/filebeat
    container_name: filebeat
    depends_on:
      - elasticsearch
      - logstash
    networks:
      - general-network
    restart: unless-stopped


  prometheus:
    image: prom/prometheus
    networks:
        - general-network


  grafana:
    image: grafana/grafana
    networks:
      - general-network


  kafka:
    image: confluentinc/cp-kafka:8.0.1
    container_name: kafka
    networks:
      - general-network
    restart: unless-stopped


  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    networks:
      - general-network
    depends_on:
      - kafka
    restart: unless-stopped


  mongo1:
    image: mongo:8.0
    container_name: mongo1
    networks:
      - general-network
    command: mongod --replSet rs0 --bind_ip localhost,mongo1


  mongo2:
    image: mongo:8.0
    container_name: mongo2
    networks:
      - general-network
    command: mongod --replSet rs0 --bind_ip localhost,mongo2


  mongo3:
    image: mongo:8.0
    container_name: mongo3
    networks:
      - general-network
    command: mongod --replSet rs0 --bind_ip localhost,mongo3


  mongoinit:
    image: mongo:8.0
    networks:
      - general-network
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    entrypoint: >
      bash -c "
        sleep 10;
        mongosh --host mongo1 --port 27017 --eval '
          rs.initiate({
            _id: \"rs0\",
            members: [
              { _id: 0, host: \"mongo1:27017\" },
              { _id: 1, host: \"mongo2:27017\" },
              { _id: 2, host: \"mongo3:27017\" }
            ]
          })
        ';
      "


networks:
  general-network:
    driver: bridge
